project_tasks/project/
project_tasks/target/

project_tasks/DifferentVersions/EldarHaugeTorkelsen/project/
project_tasks/DifferentVersions/EldarHaugeTorkelsen/target/
project_tasks/DifferentVersions/MarieSkatvedt/target/
project_tasks/DifferentVersions/MarieSkatvedt/project/

tasks/*.class
tasks/DifferentVersions/*.class