project_tasks/project/
project_tasks/target/

DifferentVersions/EldarHaugeTorkelsen/project/
DifferentVersions/EldarHaugeTorkelsen/target/
DifferentVersions/MarieSkatvedt/target/
DifferentVersions/MarieSkatvedt/project/

tasks/*.class
tasks/DifferentVersions/*.class